.ingrbtn button{
	margin-left: 10px;
}

html, 
body,
#cover{
	height: 81%;

}
#cover{
	background: url('../img/white.jpg') no-repeat fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.formsearch{
	margin-left: 1%;
}


.fixed-top{
	max-width: 1140px;
	margin: 0 auto;
}

h1{
	color: black;
	font-weight: bold;
	margin-top: 38%;
	font-family: 'Lora', serif;
	font-size: 20px;
	font-style: italic;
	margin-bottom: 25px;

}

h2{
	font-family: 'Open Sans', sans-serif;
	color: black;
	font-weight: bold;
	font-size: 35px;
	font-weight: 600;
	margin-bottom: 35px;


}

.btn-primary{
	background-color: black;
	border-style: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	padding: 15px 50px;

}

.btn-primary:hover{
	background-color: #2c2f33;
	color: white;
	transition: 0.8s;
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-o-transition: 0.8s;

}

a.nav-link{
	font-family: 'Open Sans' , sans-serif !important;
	color: black !important;
	font-size:20px;
}

a.nav-link:hover{
	color: #2c2f33 !important;
	transition: 0.6s;
	-webkit-transition: 0.6s;
	-moz-transition: 0.6s;
	-o-transition: 0.6s;

}

a.dropdown-item:hover{
	background-color: #e88720 !important;
	transition: 0.6s;
	-webkit-transition: 0.6s;
	-moz-transition: 0.6s;
	-o-transition: 0.6s;	
	font-weight: bold;
}

.btn-outline-success{
	border-style: none;
	background-color: #e88720;
	color: #ffffff;

}

.btn-outline-success:hover{
	background-color: #ffffff;
	-webkit-transition: 0.6s;
	-moz-transition: 0.6s;
	-o-transition: 0.6s;	
	transition: 0.6s;
	color: #e88720;
	font-weight: bold;

}

#restaurantss{
	background-color: #f7f7f7;
	padding: 80px 0;
	padding-bottom: 0;

}

.restaurantss-top h3{
	font-family: 'Open Sans' , sans-serif;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 30px;	
}

.restaurantss-top{
	text-align: center;
}

.card{
	margin: 20px;
}

.test{
	background-color: black;
}

.footer li{
	color: #2c2f33;
	list-style-type: none;
	float: left;
	font-size: 10px;
	margin-left: 20px;
}

.footer li:first-child{
	margin-left: 0px;
}

.chatbot{
	width: 60px;
	height: 60px;
	border-radius: 20px;
	border-color: black;
}

.chatbot:hover{
	background-color: white;
	border-color: black;
	width: 60px;
	height: 60px;
	transition: 0.6s;
	cursor: pointer;
}

.cartprice{
margin-bottom: 10px;
}

.ar img{
	width: 30px;
	height: 30px;
	float: right;
}

.effect7
{
    position:relative;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before, .effect7:after
{
    content:"";
    position:absolute; 
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    border-radius:100px / 10px;
} 
.effect7:after
{
    right:10px; 
    left:auto; 
    transform:skew(8deg) rotate(3deg);
}